
{%extends "boost/base.html"%}
{%load static%}
{%block title%}
    <title>{{div_object}} — WOW Boosting Services</title>
    {%endblock%}
{%block body%}
<div class="links">
<a href="{% url 'index'%}">Home</a>
    <i class="fa-solid fa-angle-right"></i>
<a href="#">{{div_object}}</a>
</div>



<div class="division">
<div class="divname"><h1 style="color:#fff">{{div_object}}</h1></div>
<div class="divdesc" style="font-size:20px">{{div_object.description}}</div>
</div>

<div class="serviceContainer">

{%for service in services%}
    <div class="imgcontainer">
        <a href="{{service.get_absolute_url}}">
         <!--<img class="serviceImg" src="{% static  'boosting/img/ex.png' %}" alt="myimg">-->
         <img class="serviceImg" src="{{service.image.url}}" alt="myimg">
        <div class="textBlock">
            <div class="servname"> <span>{{service.service_name}}</span></div>
            <div class="servprice"><p><span id="from">From</span>${{service.price|floatformat:2}}</p></div>
            <div class="servbtn">
                <button
             class="btn">



<i class="fa-solid fa-share fa-2x" style="color:#fff"></i></button>
            </div>
        </div>
     </a>

    </div>
{%endfor%}

</div>

{%endblock%}