{%extends "boost/base.html"%}
{%load static%}
{%block body%}
<div class="faqsPage">
    <section class="section">
        <h2 class="faqsTitle">FAQs</h2>
        <div class="faq">
            <div class="question">
                <h3>Who we are?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                    We are a team of professional players with huge experience
                    in different fields united to make the best gaming service
                    platform in the market. We treat our customers as our honored
                    guests and do our best to ensure that you get the best service possible.
                    Your interests always come first.
                </p>
            </div>
        </div>


            <div class="faq">
            <div class="question">
                <h3> What happens after I have paid for the service?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>

After the payment goes through our manager will get in touch with you within 1 hour. Usually we use Discord or Skype for this, but if you would like to use Whatsapp or something else, feel free to leave the comment during the checkout.
                </p>
            </div>
        </div>


            <div class="faq">
            <div class="question">
                <h3>Who we are?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                    We are a team of professional players with huge experience
                    in different fields united to make the best gaming service
                    platform in the market. We treat our customers as our honored
                    guests and do our best to ensure that you get the best service possible.
                    Your interests always come first.
                </p>
            </div>
        </div>

            <div class="faq">
            <div class="question">
                <h3>Who we are?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                    We are a team of professional players with huge experience
                    in different fields united to make the best gaming service
                    platform in the market. We treat our customers as our honored
                    guests and do our best to ensure that you get the best service possible.
                    Your interests always come first.
                </p>
            </div>
        </div>

            <div class="faq">
            <div class="question">
                <h3>Who we are?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                    We are a team of professional players with huge experience
                    in different fields united to make the best gaming service
                    platform in the market. We treat our customers as our honored
                    guests and do our best to ensure that you get the best service possible.
                    Your interests always come first.
                </p>
            </div>
        </div>

    </section>
</div>

{%endblock%}