{%extends "boost/base.html"%}
{%load static%}
{%block title%}
    <title>FAQs — WOW Boosting Services</title>
    {%endblock%}
{%block body%}
<div class="faqsPage">
    <section class="section">
        <h2 class="faqsTitle">FAQs</h2>
        <div class="faq">
            <div class="question">
                <h3>Who we are?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                    We are a team of professional players with huge experience
                    in different fields united to make the best gaming service
                    platform in the market. We treat our customers as our honored
                    guests and do our best to ensure that you get the best service possible.
                    Your interests always come first.
                </p>
            </div>
        </div>


            <div class="faq">
            <div class="question">
                <h3> What happens after I have paid for the service?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>

After the payment goes through our manager will get in touch with you within 1 hour. Usually we use Discord or Skype for this, but if you would like to use Whatsapp or something else, feel free to leave the comment during the checkout.
                </p>
            </div>
        </div>


            <div class="faq">
            <div class="question">
                <h3>What to do when the order is not delivered/complete?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                    If we're unable to accomplish your order by any reason on our side, we will make full refund or can offer you another service for a price not exceeding the one you have already paid. If you choose another service which is cheaper, we will refund you the difference between those two prices.
                    A customer support agent will make a decision after reviewing your request:

full refund on your balance account in case of claims validity.

partial refund - depending on the quality and the amount of work done by sellers. For example, if the seller failed to deliver the order in time but still completed the order.
                </p>
            </div>
        </div>

            <div class="faq">
            <div class="question">
                <h3>Is «piloted» option (account sharing) safe?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                   We offer «piloted» option only for the services with minimal risk potential of getting your account banned. We will protect your account as if it was our own. These are the security measures we use to keep your information safe and confidential:

Security and confidentiality of your personal information;
Complete anonymity of all customers. Our boosters will use “Appear Offline” mode in your Batlle.net for completion of the order. Furthermore, we will never chat in-game using your account;
Secure connection with the best VPN Servers;
Availability of live stream for orders with piloted option (except for long-term orders) upon request;
Manual completion of every order without bots, bugs, or hacks. We act with absolute integrity to promote honest play in the gaming community.
                </p>
            </div>
        </div>

            <div class="faq">
            <div class="question">
                <h3>
          What If you don't have service I want?
        </h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="answer">
                <p>
                   Even if some cool stuff you would like to get is not presented on our  site, most likely our players still have an opportunity to do that, even the most difficult tasks with any special conditions and exclusive terms. Our teams have the best long-year experienced players in any kind of content so almost everything is possible. Just contact us by one of our contacts presented on our site and our support managers will kindly guide you and do their best for you to have the best gaming experience and pastime you have ever had!
                </p>
            </div>
        </div>

    </section>
</div>

{%endblock%}
{%block pros%}
{% endblock %}